@model Ignite.ExpertFinder.Contract.FaceDetectionResponse

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<h1>Dashboard</h1>
<hr />
<h2>Detected Experts</h2>

@if (Model.DetectedExperts.Count == 0)
{
    <h3>No experts detected.</h3>
}
else
{
    foreach (var expert in Model.DetectedExperts)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img alt="profilePicture" class="media-object dp img-circle" src="@expert.ProfilePicBlobUrl" style="width: 150px;height:150px;">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">@expert.Name</h3>
                        <b>Works at @expert.Organization</b>
                        <hr style="margin:8px auto">
                        @foreach (var skill in expert.Skills)
                        {
                            <span class="label label-info">@skill</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
<h2>Image Captured By Holelens</h2>
<img src="@Model.CapturedImage" alt="captured image" />
<script type="text/javascript">
    setTimeout(function () {
        window.location.reload(1);
    }, 30000);
</script>