@using Ignite.ExpertFinder.Contract
@model Expert
@{
    ViewData["Title"] = "Registration Console";
}

<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script src="js/jquery.webcam.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        jQuery("#webcam").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: "js/jscam.swf",
            debug: function (type, status) {
                $('#camStatus').text(type + ": " + status);
            },
            onSave: function (data) {
                $.ajax({
                    type: "GET",
                    url: "/Home/GetCapturedImage",
                    data: '',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        $("[id*=capturedImage]").attr("src", r);
                        $("#ProfilePicBlobUrl").val(imageUri);
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            },
            onCapture: function () {
                webcam.save("/Home/SaveImage");
            }
        });
    });
    function Capture() {
        webcam.capture();
        return false;
    }
    function Validate() {
        var imageUri = $("[id*=capturedImage]").attr("src");
        $.ajax({
            type: "POST",
            url: "/Home/ValidateImage",
            data: { capturedImage: imageUri },
            success: function (r) {
                $('#camStatus').text(r);
                $("#ProfilePicBlobUrl").val(imageUri);
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        return false;
    }
    function Upload() {
        var file = document.querySelector('input[id=singlepicture]').files[0];
        var data = new FormData();
        data.append(file.name, file);
        $.ajax({
            type: "POST",
            url: "/Home/UploadImage",
            contentType: false,
            processData: false,
            data: data,
            success: function (r) {
                $("[id*=capturedImage]").attr("src", r);
                $("[id*=uploadedImage]").attr("src", r);
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }
</script>
@if ((string)ViewData?["SubmissionStatus"] != null)
{
    <div class="alert alert-info">
        <strong>Message! </strong>@ViewData["SubmissionStatus"]
    </div>
}
<h2>Step 1. Upload Your Picture (Single)</h2>
<hr />
<div class="container-fluid">
    <div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 text-center">
                <h3>Camera View</h3>
                <br />
                <div id="webcam">
                </div>
                <br />
                <button class="btn btn-default action" onclick="return Capture();">Capture</button>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 text-center">
                <h2>OR</h2>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 text-center">
                <h3>Uploaded Image</h3>
                <br />
                <div>
                    <img id="uploadedImage" style="width: 320px; height: 240px;" src="http://placehold.it/320x240" />
                </div>
                <br />
                <form method="post" enctype="multipart/form-data">
                    <input id="singlepicture" type="file" class="btn btn-default action" onchange="Upload()" />
                </form>
            </div>
        </div>
        <br />
        <br />
        <h2>Step 2. Validate Captured Image</h2>
        <hr />
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 text-center">
                <h3>Captured Image</h3>
                <br />
                <div>
                    <img id="capturedImage" style="width: 320px; height: 240px;" src="http://placehold.it/320x240" />
                </div>
                <br />
                <button class="btn btn-default action" onclick="return Validate();">Validate</button>
            </div>
        </div>
    </div>
    <h3>Notifications</h3>
    <span id="camStatus"></span>
</div>
<br />
<br />
<h2>Step 3. Register Your Details</h2>
<hr />
<form asp-controller="Home" asp-action="Submit" method="post" id="profileForm" class="form-horizontal" role="form">
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" value="email@example.com" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" text="Your Name" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Organization" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Organization" class="form-control" text="Your Organization" />
        </div>
    </div>
    <input asp-for="ProfilePicBlobUrl" type="hidden" />
    <div class="form-group">
        <label asp-for="Skills" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @{
                int uptoFive = 0;
                foreach (var skill in Enum.GetValues(typeof(Skills)))
                {
                    if (uptoFive < 5)
                    {
                        <input name="Skills" type="checkbox" value="@skill" checked="checked" />
                        uptoFive += 1;
                    }
                    else
                    {
                        <input name="Skills" type="checkbox" value="@skill" />
                    }
                    <label asp-for="@skill" style="margin-right: 10px">@skill</label>
                }
            }
        </div>
    </div>
    <div class="col-xs-12">
        <input type="submit" value="Create Profile" class="btn btn-default submit pull-right" />
    </div>
</form>
<script type="text/javascript">
    $('#profileForm').submit(function () {
        var c = confirm("Clicking OK will submit this form.");
        return c; //you can just return c because it will be true or false
    });
</script>